<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311791364166-ri6ch2ifs4n77q23vtrko05mjc70g9co.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311791364166-ri6ch2ifs4n77q23vtrko05mjc70g9co</string>
	<key>API_KEY</key>
	<string>AIzaSyDbWMqV78LOCe03qSe2MDx-xDfPwYjESnE</string>
	<key>GCM_SENDER_ID</key>
	<string>311791364166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>welo.flutterMyProfile</string>
	<key>PROJECT_ID</key>
	<string>weloprofile</string>
	<key>STORAGE_BUCKET</key>
	<string>weloprofile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311791364166:ios:4fb6fd6b4f1e8c8e54c247</string>
	<key>DATABASE_URL</key>
	<string>https://weloprofile.firebaseio.com</string>
</dict>
</plist>